<h1>
  Voici les infos générales sur la région: {{region}}
</h1>

<div class="image">
  <span>IMAGE</span>
</div>

<div class="stats">
  <h2>Quelques stats :</h2>

  <h4>1èere stats :</h4>
  <span>lkdsfjlsdkjfljsdlfkjdsklf sdfkjmsdlkf msdl fksd mflmsdlkf mlsdk fk sdflmksmdf</span>

  <h4>2ème stats :</h4>
  <span>lkdsfjlsdkjfljsdlfkjdsklf sdfkjmsdlkf msdl fksd mflmsdlkf xncxwkhsdkshf kdskjf kjsdhfkjsdhfkj sdfkjhsd kfjhdskjfhskdjfsh mlsdk fk sdflmksmdf</span>

  <h4>3ème stats :</h4>
  <span>lkdsfjlsdkjfljsdlfkjdsklf sdfkjdfksdfhkdsjfh sd f sdkjfhsdkjfhksdjfh fksdjfh sfkjh msdlkf msdl fksd mflmsdlkf mlsdk fk sdflmksmdf</span>
</div>
