<h1 class="title">
  L'actualité de nos animaux:
</h1>

<div class="item-grid">
  <div class="one item">
    <span class="photo"></span>
  </div>
  <div class="two item">
    <span class="photo"></span>
    <div>
      <h4>Un loup croisé dans la forêt !!!</h4>
      <span>Aujourd'hui j'ai croisé un loup pendant ma balade!  c'était impressionant !</span>
    </div>
  </div>
  <div class="three item">
    <span class="photo"></span>
    <div>
      <h4>Un oiseau croisé dans la forêt !</h4>
      <span>Aujourd'hui j'ai croisé un oiseau pendant ma balade!  c'était impressionant !</span>
    </div>
  </div>
  <div class="four item">
    <span class="photo"></span><div>
    <h4>Un lapin croisé chez des voisins !</h4>
    <span>Aujourd'hui j'ai croisé un lapin pendant un repas!  c'était impressionant !</span>
  </div>
  </div>
</div>
