<div class="home-container">
  <h1>
    Bienvenue !
  </h1>

  <h2>
    Qu'est ce que ce site ?
  </h2>

  <span>
    description très tresjfbkjhlongue flkdjflkjsdlfkjsdlkfjlsdkjflkjd
    lsdkjflksdjflksdlkfjslkdjflsdjflksdjflsdf
    sdljflskdjflksdjlfkjdljflskjfdlksdf
    sdlkfjlsdkjflkdsfkljsldkfjlsd
    dsflkjsdlfkjlsdjlksdfj
  </span>

  <h2>
    Qui sommes nous ?
  </h2>
  <span>
    LORREM IPSUMSD FDSLFJLDSKFLKD FDSf
    fSDFKDSLFKMSDLKFMLDSKFMLSKDMLKDSMFLKDS MLFKMDSLKFMDSLKFMDLKFMLDSKFMLS KDFMDLKFMLDSKFMLKDSFMLKDSMFLKSDMFLKMFLs
    MLSKDFMLSKDFMLSKDFMLSKDF MLKSDFMLKSFMLKDSMFLKSDM FLKMDSLFKMSDLFKMDSLFKMLDKFMLDKFMDSLKFMSDLFK
    DSKFMDSLKFMDLKFMDSL KFMSDLKFMFKMLDSKMDLFKMLFKMSLKFMDLKF
    MSDKFMLKDFMLDSKFMLDKSF
  </span>

  <h2>
    Que faisons nous ?
  </h2>

  <span>
    DFKSDMFLKSDMLFKMSDLKFMLS DKFMLSDKFMLSD
    SMDKFMSDLKFMLDSKFMLDSKFML KSDMFLKDSFMLK$*
    SDFMKMDSLKFMSLDKFMLSDK FMFKMLDSKFMSLDKF
    SDFMLDSKFMDLKMLDKSFMLD KMLKDf
  </span>
</div>
